
.root {
    -fx-background-color:#dcedff;
}

.label, .text {
    -fx-text-fill: black;
}

.button {
    -fx-background-color: #CCCCCC;
    -fx-text-fill: black;
    -fx-border-width: 2px;
    -fx-font-size: 24;
    -fx-padding: 10px;
}

